<h1>VOLUNTEER PROFILE</h1>

<div class="complete_profile">
	Looks like your profile is empty! Please <%= link_to "complete", edit_volunteer_path, remote:true %> your profile and get started.
</div>


