<div id="v_stats">
  <ul>
    <li><%= @volunteer.full_name %></li>

  </ul>
</div>

<div id="v_dashboard">
  RENDER A PARTIAL :D
</div>

  <%= link_to 'Edit Account', edit_volunteer_path %>

<%= link_to 'Change Email/Password', edit_user_registration_path %>

