<div id="v_menu">
  <ul>
   MENU
  </ul>
</div>

<div id="v_content">
  RENDER A PARTIAL :D
</div>

  <%= link_to 'Edit Account', edit_volunteer_path %>

<%= link_to 'Change Email/Password', edit_user_registration_path %>

