<div id="v_stats">

  <ul>
    <li><%= @volunteer.first_name + @volunteer.last_name %></li>
    <li><%= @volunteer.skills %></li>
  </ul>
</div>

<div id="v_dashboard">
  RENDER A PARTIAL :D
</div>


