<div id="org_menu">
  <ul>
    <li>Profile </li>
    <li>Project Requests Posted</li>
    <li>Feedback</li>
  </ul>

  <%= link_to 'Edit Account', edit_organization_path %>

  <%= link_to 'Change Email/Password', edit_user_registration_path %>
</div>
