    <div id="image_carousel">
      carousel
    </div>
    <div id="sign_up">
      <div class="sign_up">
        <%= link_to "Sign up", '#', id: 'signup_v' %> 
      </div>
      <div class="sign_up">
        <%= link_to "Sign up", '#', id: 'signup_org' %> 
      </div>
    </div>

    <div id="inner_content">
    	other content
    </div>

