<h1>Projects</h1>

<div class="projects">
  <% @projects.each do |project| %>
    <div class="project">
      <h3><%= project.title %></h3>
      <p><%= project.summary %></p>
    </div>
  <% end %>
</div>