

#volunteer_menu,
#organization_menu {
  width: 300px;
  background-color: #eee;
  float: left;
}

.dash_content {
  width: 660px;
  background-color: #a3b8bf;
  float: right;
}

.dash_menu li > .submenu {
  display: none;
}

.dash_menu li.profile > a:before { background-position: -24px 0px; }
.dash_menu li.profile:hover > a:before,
.dash_menu li.profile:target > a:before,
.dash_menu li.profile > a.active:before { background-position: -24px -24px; }

.dash_menu li.projects > a:before { background-position: -24px 0px; }
.dash_menu li.projects:hover > a:before,
.dash_menu li.projects:target > a:before,
.dash_menu li.projects > a.active:before { background-position: -24px -24px; }

.dash_menu li:target > .submenu {
  display:block;
}





