.dash_menu {
  margin: 5px;
  padding: 0;
  width: 290px;
  list-style: none;

  li.one {
    width: 290px;
    height: 100px;
    list-style: none;
    background-color: #ccc;
    border-bottom: 1px solid #eee;
  }

  li.two,
  li.three,
  li.four {
    padding: 10px 0 10px 10px;
    background-color: #4b4d57;
    border-bottom: 1px solid #eee;

    .submenu {
      margin: 10px 0 0 0;
      padding: 0;
      list-style: none;

      li {
        padding: 5px 0 0 10px;
        background-color: #eee;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

#volunteer_menu,
#organization_menu {
  width: 300px;
  background-color: #eee;
  float: left;
}

.dash_content {
  width: 660px;
  background-color: #a3b8bf;
  float: right;
}

.dash_menu li > .submenu {
  display: none;
}

/* DON'T REALLY NEED THIS - RT */
/*.dash_menu li.profile > a:before { background-position: -24px 0px; }
.dash_menu li.profile:hover > a:before,
.dash_menu li.profile:target > a:before,
.dash_menu li.profile > a.active:before { background-position: -24px -24px; }

.dash_menu li.projects > a:before { background-position: -24px 0px; }
.dash_menu li.projects:hover > a:before,
.dash_menu li.projects:target > a:before,
.dash_menu li.projects > a.active:before { background-position: -24px -24px; }

.dash_menu li:target > .submenu {
  display:block;
}*/





