#sub-header_wrapper {
  margin: 100px auto 0 auto;
  width: 100%;
  overflow: hidden;
  height: 200px;
  background-image: url('/assets/sub-header_bg.jpg');
  background-position: top center fixed;
  background-repeat: no-repeat;
}

#sub-header_container {
  margin: 0 auto;
  width: 960px;
  height: 200px;
  line-height: 100px;
  text-align: center;

  #quote {
    padding: 10px;
    font: italic 14px Georgia;
    background-image: url('/assets/pixel_white.png');
    background-repeat: repeat;
    border-radius: 3px;
  }
}

#content_wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background-color: #fff;

  #content_container {
    margin: 40px auto;
    width: 960px;
    overflow: hidden;

    #content_left {
      width: 300px;
      float: left;
    } 
    
    #content_right {
      margin-left: 40px;
      width: 620px;
      float: right;
    }  
  }
}

.dash_menu {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 700px;
  list-style: none;

  li.one {
    margin-bottom: 10px;
    height: 100px;
    width: 300px;
    list-style: none;
    background-color: #7debfd;
  }

  li.two,
  li.three,
  li.four {
    padding: 10px 0 10px 10px;
    background-color: #70ffc4;
    border-bottom: 1px solid #eee;

    a {
      color: #333;
    }

    .submenu {
      margin: 10px 0 0 0;
      padding: 0;
      list-style: none;

      li {
        padding: 5px 0 0 10px;
      }

    }
  }

  li.two:hover,
  li.three:hover,
  li.four:hover {
    background-color: #7debfd;
    transition:0.9s;
    -webkit-transition:0.9s;
  }
}

#volunteer_menu,
#organization_menu {
  width: 300px;
  background-color: #eee;
  float: left;
}

.dash_content {
  width: 660px;
  background-color: #a3b8bf;
  float: right;
}

.dash_menu li > .submenu {
  display: none;
}

/* DON'T REALLY NEED THIS - RT */
/*.dash_menu li.profile > a:before { background-position: -24px 0px; }
.dash_menu li.profile:hover > a:before,
.dash_menu li.profile:target > a:before,
.dash_menu li.profile > a.active:before { background-position: -24px -24px; }

.dash_menu li.projects > a:before { background-position: -24px 0px; }
.dash_menu li.projects:hover > a:before,
.dash_menu li.projects:target > a:before,
.dash_menu li.projects > a.active:before { background-position: -24px -24px; }

.dash_menu li:target > .submenu {
  display:block;
}*/





