.dash_menu {
  margin: 5px;
  padding: 0;
  width: 290px;
  list-style: none;

  li.one {
    width: 290px;
    height: 100px;
    list-style: none;
    background-color: #ccc;
    border-bottom: 1px solid #eee;
  }

  li.two,
  li.three,
  li.four {
    padding: 10px 0 10px 10px;
    background-color: #4b4d57;
    border-bottom: 1px solid #eee;

    .submenu {
      margin: 10px 0 0 0;
      padding: 0;
      list-style: none;

      li {
        padding: 5px 0 0 10px;
        background-color: #eee;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

#volunteer_menu,
#organization_menu {
  width: 300px;
  background-color: #eee;
  float: left;
}

.dash_content {
  width: 660px;
  background-color: #ccc;
  // float: right;
  padding: 18px;
  border: 5px solid #eee;
}

.dash_menu li > .submenu {
  display: none;
}





