#sub-header_wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  height: 200px;
  background-image: url('/assets/sub-header_bg.jpg');
  background-position: top center fixed;
  background-repeat: no-repeat;
}

#sub-header_container {
  margin: 0 auto;
  padding-top: 100px;
  width: 960px;
  height: 200px;

/*  #quote {
    margin-top: 150px;
    line-height: 20px;
    font-size: 15px;
    color: #fff;
    background-image: url('/assets/pixel.png');
    background-repeat: repeat;
  }*/

}

#content_wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background-color: #fff;

  #content_container {
    margin: 40px auto;
    width: 960px;
    overflow: hidden;

    #content_left {
      width: 300px;
      float: left;

      #project_menu {
        width: 300px;
        background-color: #eee;

        #search_form {
          .checkbox {
            background-color: red;
          }

          .input {
            width: 300px;
          }
        }
      }
    } 
    
    #content_right {
      margin-left: 40px;
      width: 620px;
      float: right;

      .projects{
        width: 620px;
      }
    }  
  }
}





.dash_menu li > .submenu{
  display: none;
}

#apply {
  display:none;
}

