<h1>ORGANIZATION PROFILE</h1>

<div class="complete_profile">
	Looks like your profile is empty! Please <%= link_to "complete", edit_organization_path, remote:true %> your profile and get started.
</div>

