#carousel_wrapper {
	margin: 150px auto 0 auto;
  width: 100%;
  overflow: hidden;
  background-color: #ff0;
}

#image_carousel{
	margin: 0 auto;
  width: 100%;
  height: 500px;
  margin: 0 auto;

  .image_container {
    width: 100%;
    height: 500px;
  }
}