#v_menu, #org_menu {
  width: 30%;
  height: 850px;
  background-color: red;
  float: left;
}

#v_content, #org_content{
  width: 70%;
  height: 850px;
  background-color: purple;
  float: right;
}

.profile, .projects{
  display:none;
}