#sign_in_form {
  border: 1px solid #ccc;
}

input {
	margin-bottom: 10px;
	padding: 10px;
	width: 448px;
	height: 40px;
	border: 1px solid #eee;
	border-radius: 8px;
	font-size: 18px;
}

input:hover {
	border: 1px solid #ccc;
}

.button {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	width: 448px;
	height: 40px;
	border: 1px solid #eee;
	background-color: #51b1ad;
	cursor: pointer;
	color: #fff;
}

.button:hover {
	background-color: #35b7cc;
	transition:0.5s;
  -webkit-transition:0.5s;
}