/*------------------------------------------------------------------------

        Name: Full Width Slider 2.0
        Design and Develpment: eightyclouds
        Author URI: http://www.eightyclouds.com
        Version: 1.0

--------------------------------------------------------------------------

   01. CSS Reset
   02. Slider Styles
   03. Media Query Max Width 1300, Min Width 720
   04. Media Query Max Width 719
   
*/

/* ------------------------------- 2. Slider Styles ------------------------------- */

#fwslider {
    overflow: hidden;
    position: relative;
    width:100%;
    line-height:100%;
}


#fwslider h4,
#fwslider p,
#fwslider img {
    margin:0;
}

#fwslider .slider_container {
}

#fwslider .slide {
    display: none;
    left:0;
    line-height:100%;
    position: absolute;
    top:0;
    width:100%;
    z-index: -99999;
}

#fwslider .slide img {
    width:100%;
}

#fwslider .slidePrev {
    background:#000;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    left:-50px;
    opacity:0.5;
    z-index: 10;
}

#fwslider .slidePrev span {
    background-image:url('/assets/slider_left_arrow.png');
    width:50px;
    height:50px;
    float:left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#fwslider .slideNext {
    background:#000;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    right:-50px;
    opacity:0.5;
    z-index: 10;
}

#fwslider .slideNext span {
    background-image:url('/assets/slider_right_arrow.png');
    width:50px;
    height:50px;
    float:left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#fwslider .timers {
    height:4px;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 3;
}

#fwslider .timer {
    height:4px;
    width:40px;
    background-color: #222;
    float:left;
    margin-right: 10px;
}

#fwslider .progress {
    height:4px;
    width:0%;
    background-color: #A66262;
    float:left;
}

#fwslider .slide_content {
    top:0;
    left:0;
    position: absolute;
    width:100%;
    height:100%;
}

.home #fwslider .slide_content_wrap { /* Slider Text Content Container Style */
    max-width:1280px;
    margin:35% auto;
}

.inner #fwslider .slide_content_wrap { /* Slider Text Content Container Style */
    display: none;
}

#fwslider .title {  /* Slider Title Style */
    background:#A66262;
    border:1px solid #A66262;
    box-shadow: 0 0 5px rgba(0,0,0,0.2), inset 0 0 15px rgba(0,0,0,0.15);
    color:#fff;
    float:right;
    font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
    font-size:30px;
    opacity: 0;
    padding:10px 30px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    text-transform:uppercase;
}

#fwslider .description { /* Slider Description Style */
    background:#fff;
    border:1px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2), inset 0 0 40px rgba(0,0,0,0.15);
    clear:both;
    color:#222;
    float:right;
    font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
    font-size:20px;
    opacity: 0;
    padding:10px 30px;
    text-shadow: 0 1px 0 #fff;
    text-transform:uppercase;
}

#fwslider .readmore { /* Slider Read More button Style */
    background:#222;
    border:1px solid #222;
    box-shadow: 0 0 5px rgba(0,0,0,0.2), inset 0 0 40px rgba(0,0,0,0.2);
    clear:both;
    color:#fff;
    float:right;
    font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
    font-size:20px;
    opacity: 0;
    padding:10px 30px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    text-transform:uppercase;
}

#fwslider .readmore:hover {
    color:#A66262;
    text-decoration:none;
}

/* ------------------------------- 3. Media Query Max Width 1300, Min Width 720 ------------------------------- */



@media only screen and (min-width:720px) and (max-width: 1300px) {

    #fwslider .slide_content_wrap { margin-right:30px; margin-top:30%;}
    #fwslider .title { font-size:24px; }
    #fwslider .description {  font-size:16px;}

}

/* ------------------------------- 4. Media Query Max Width 719 ------------------------------- */

@media only screen and (max-width:719px) {

    #fwslider .slide_content_wrap { display:none; }
    #fwslider .timers { display:none; }
    #fwslider .slide_content {cursor: pointer;}

}