body{
  margin: 0
}

#header_wrapper {
  width:100%;
  height: 50px;
  // delete height once done
  position:fixed;

  #header_container {
    margin: 0 auto;
    width:960px;

    #logo{
      width:50%;
      float:left;
    }
    #menu{
      width:50%;
      float:right;
      
        ul{
          background-color: yellow;
          list-style: none;
          display:inline;
        }
    }
  }
}

#content_wrapper {
  width:100%;
  #content_container{
    width: 960px;
    margin: 0 auto;
  }
}

#footer_wrapper {
  width:100%;
  position: fixed;
}