body {
  margin: 0;
}

#header_wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: #efefef; // testing

  #header_container {
    margin: 0 auto;
    width: 960px;

    #logo{
      width: 50%;
      height: 50px;
      float: left;
      line-height: 50px;
    }

    #menu{
      width: 50%;
      height: 50px;
      float: right;
      line-height: 15px;
      text-align: right;
      background-color: #efefef; //testing
      
        ul {
          padding: 0;
          width: 100%;
          list-style: none;
          display: block;

          li {
            width: 200px;
            display: inline;
          }
        }  
     
    }
  }
}

#content_wrapper {
  width: 100%;
  background-color: #ccc; // testing

  #content_container {
    margin: 50px auto 0 auto;
    width: 960px;
    min-height: 800px;
  }
}

#image_carousel{
  height: 250px;
  width: 860px;
  background-color: #444;
  margin: 0 auto;
}

#sign_up {
  height: 200px;
  width: 860px;
  background-color: black;
  margin:0 auto;
  .field{
    display: inline-block;
  }
}

#signup_form_v, #signup_form_org{
  display:none;
  width:400px;
  margin: 2px;
}

#inner_content{
  height:200px;
  width:860px;
  background-color: #ffffff;
  margin: 0 auto;
}

#footer_wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #efefef; // testing

  #footer_container {
    margin: 50px auto 0 auto;
    width: 960px;

    #footer_left { 
      width: 50%;
      min-height: 200px;
      float: left;
    }

    #footer_right {
      width: 50%;
      min-height: 200px;
      float: right;
    }
  }
}