#carousel_wrapper {
  margin: 150px auto 0 auto;
  width: 100%;
  overflow: hidden;
}

#sign_up_wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: #ddd;

  #sign_up_container {
    margin: 0 auto;
    padding: 20px 0;
    width: 960px;
    overflow: hidden;

    #sign_up_v {
      width: 510px;
      float: left;

      h2 {
        margin: 20px 0 10px 0;
        font-size: 30px;
      }

      h3 {
        margin: 0 0 20px 0;
        font-size: 18px;
      }

    }

    #sign_up_org {
      width: 450px;
      float: right;

      h2 {
        margin: 20px 0 10px 0;
        font-size: 30px;
      }

      h3 {
        margin: 0 0 20px 0;
        font-size: 18px;
      }
    }
  }
}


#about_wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background-color: #f7f7f7;

  #about_container {
    margin: 0 auto;
    padding: 20px 0;
    width: 960px;
    font-size: 35px;
    line-height: 40px;
  }
}

#feature_wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background-color: #f8d5b9;
}

#feature_container {
  margin: 30px auto;
  width: 960px;
  height: 253px;
  overflow: hidden;
  background-color: #fbe3d2;

  #feature_left {
    width: 450px;
    float: left;
  }

  #feature_right {
    width: 510px;
    float: right;

    .text_wrapper {
      width: 470px;
      margin: 20px;
    }
  }
}
