#carousel_wrapper {
  margin: 150px auto 0 auto;
  width: 100%;
  overflow: hidden;
}

.inner_content {
	margin: 30px auto;
  width: 960px;
  overflow: hidden;

  #sign_up_v {
    width: 510px;
    float: left;
  }

  #sign_up_org {
    width: 450px;
    float: right;
  }

  .inner_content_left {
  	width: 480px;
  	float: left;
  }

  .inner_content_right {
  	width: 480px;
  	float: right;
  }
}

#feature_wrapper {
  margin: 150px auto 0 auto;
  width: 100%;
  overflow: hidden;
  background-color: #35b7cc;
}

.inner_content {
  margin: 30px auto;
  width: 960px;
  overflow: hidden;

  .inner_content_left {
    width: 480px;
    float: left;
  }

  .inner_content_right {
    width: 480px;
    float: right;
  }
}
