.inner_content {
	margin: 30px 0;
  width: 960px;
  overflow: hidden;

  #sign_up_v {
    width: 500px;
    float: left;
  }

  #sign_up_org {
    width: 460px;
    float: right;
  }

  .inner_content_left {
  	width: 480px;
  	float: left;
  }

  .inner_content_right {
  	width: 480px;
  	float: right;
  }
}
