#lightbox { display:none; position:fixed; width:100%; height:100%; z-index:3; background-color:#333; }

#boxes .window { display:none; position:fixed; padding:20px; width:500px; background-color:#fff; border-radius:5px; z-index:4; }
#gallery .window { display:none; position:fixed; padding:20px; background-color:#fff; border-radius:5px; z-index:4; } 

.img_lightbox { margin:0 0 20px 0; width:500px; height:375px; }
.img_portrait { margin:0; width:400px; height:600px; }
.img_landscape { margin:0; width:600px; height:400px; }
