<div id="about_us">
  <div id="ryan">
    <h2>Ryan Tong</h2>
    IMAGE
    <p>
    </p>
  </div>

  <div id="chantal">
    <h2>Chantal Emmanuel</h2>
    IMAGE
    <p>
    </p>
  </div>

  <div id="laura">
    <h2>Laura Montemayor</h2>
    IMAGE
    <p></p>
  </div>
</div>
